name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run CI message
        run: echo "CI Running"

      - name: Create output file
        run: echo "CI is working" > output.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ci-output
          path: output.txt
